* {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.header{
    height: 200px;
}
.main__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__nav{
    display: flex;
    align-items: center;
}
.header__nav__link{
    padding-left: 40px;
    font-weight: 700;
    font-size: 21px;
}
.header__nav__link::after{
    content: '';
    display: block;
    height: 5px;
    background-color: lightgreen;
    width: 70px;
    transition: .2s ease-in-out;
    opacity: 0;
    margin-top: 5px;
}
.header__nav__link:first-child:after{
    width: 90px;
}
.header__nav__link:last-child:after{
    width: 150px;
}
.header__nav__link:hover:after{
    opacity: 1;
}
.logo{
    font-weight: 700;
    font-size: 30px;
}
.footer__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    height: 200px;
    width: 100%;
}
.footer__right{
    text-align: right;
    width: 60%;
}
.footer__left{
    height: 100%;
    width: 30%;
}
.footer__nis__logo{
    width: 100%;
    height: 100%;
}
.footer__creators--name{
    padding-top: 10px;
}
.footer__creators--info:last-child{
    padding-top: 40px;
}
.footer__creators--info{
    width: 280px;
}
.footer__project--creators{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo img{
    width: 250px;
    height: 150px;
}
.footer__project__creators{
    line-height: 1.5;
}
.main__tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.main__tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
.main__tabs button:hover {
    background-color: #ddd;
}
  

.main__tabs button.active {
    background-color: #ccc;
}
  

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}